.seccionDatos {
  text-align: center;
}

.seccionDatos .card {
  display: inline-block;
  margin: 0 0.5rem;
}

.seccionDatos .card-header {
  background-color: #004f39;
}

.seccionDatos .card-body {
  background-color: #151613;
}

.seccionDatos p,
.seccionDatos h3 {
  color: #fffaca !important;
}

.seccionDatos h1 {
  color: #fffaca;
  background-color: #004f39;
  border-radius: 10px;
}

body {
  background-color: #fffaca;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  background-color: #151613;
  color: #fffaca;
}

header nav {
  background-color: #004f39;
}

.navbar,
.navbar .navbar-brand,
.navbar .nav-link {
  color: #fffaca !important;
}

.nav-item:hover {
  border-bottom: 1px solid #fffaca;
}
